<div class="container my-24 lg:my-36 xl:my-64">
    {% include '_partials/entry/headline.twig' with {
        class: 'text-center'
    }%}

    <div class="group [&>*:first-child]:rounded-t-lg [&>*:last-child]:rounded-b-lg divide-y-3 divide-navy mt-12 mb-24">
        {% for entry in entry.accordionElements.all()  %}
            {{ entry.render }}
        {% endfor %}
    </div>

</div>
