{% set images = entry.images.eagerly() %}

<div class="grid xl:grid-cols-3 gap-8 xl:gap-12" >


{% for asset in images  %}
    {% if asset %}
        <div data-aos="fade-up">

        {% set transform = { width: 800, format: 'webp', quality: 80 } %}
        {{ tag('img', {
            src: asset.getUrl(transform),
            width: asset.width,
            height: asset.height,
            srcset: asset.getSrcset(['400w', '600w', '800w', '1200w'], transform),
            sizes: '(min-width: 1280px) 33vw, 100vw',
            alt: asset.alt,
            loading: 'lazy',
            decoding: 'async',
            class: 'rounded-lg'
        }) }}
        </div>
    {% endif %}
{% endfor %}

</div>
