<div class="container">

<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3 lg:gap-6 my-12 lg:mb-36">
{% for logo in entry.logos.eagerly() %}
    <div class="flex items-center justify-center aspect-3/2 bg-white p-5 md:p-8 rounded-lg" data-aos="fade-up">
        {{ tag('img', {
            src: logo.url,
            width: logo.width,
            height: logo.height,
            srcset: logo.getSrcset(['1.5x', '2x', '3x']),
            alt: logo.alt,
            class: "w-full h-full object-contain"
        }) }}
    </div>
{% endfor %}
</div>
</div>
