<div class="flex -mx-6 lg:mx-0 gap-3 lg:gap-8 my-12 lg:mb-36 items-center justify-center flex-wrap">
{% for logo in entry.logos.eagerly() %}
    <div class="flex-1 max-w-1/2 basis-48 xl:basis-32 xl:max-w-48 aspect-3/2 bg-white p-4 md:p-6 rounded-lg" data-aos="fade-up">
        {{ tag('img', {
            src: logo.url,
            width: logo.width,
            height: logo.height,
            srcset: logo.getSrcset(['1.5x', '2x', '3x']),
            alt: logo.alt,
            class: "w-full h-full object-contain"
        }) }}
    </div>
{% endfor %}
</div>
