<section class="container my-24">
    <div id="price-calculator" class="w-full">
        <div id="calculator-content">
            {# Wird dynamisch per JavaScript befüllt #}
        </div>
    </div>
</section>
