
<div class="container">

    {% if entry.headline %}
    <div class="lg:max-w-4/5">
        <h2 class="mb-8">{{ entry.headline }}</h2>
    </div>
    {% endif %}

   {% include '_partials/entry/richText.twig' %}

</div>
