@import "tailwindcss";
@import "./generic/_fonts.css";

@source "../../templates/**/*.twig";

@theme {
    --color-navy: #1d2133;
    --color-mint: #68c3cd;
    --color-pink: #ea4d65;

    --font-display: "Bebas Neue", sans-serif;
    --font-sans: "Open Sans", sans-serif;

    --text-8xl: 7rem;
    --text-9xl: 10rem;
    --text-10xl: 12rem;

    --breakpoint-2xl:110rem;
}

@utility container {
    margin-inline: auto;

}

@layer base {
    body{
        @apply font-sans text-xl lg:text-3xl ;
    }
    h1,h2{
        @apply font-display;
    }

    p, ul, ol {
        @apply leading-normal;
    }



    table{
        @apply  border-2 border-collapse border-pink rounded-lg my-6 lg:my-10 w-full;
        thead{
            @apply text-left bg-pink text-white;
            tr {
                th {
                    @apply p-3 lg:p-5 align-top;
                }
            }
        }

        tr td{
            @apply p-3 lg:p-5 border-b-2 border-pink align-top ;
        }
    }

    p + h2 {
        @apply mt-16;
    }

    h2{
        @apply text-4xl md:text-7xl xl:text-8xl break-words;
    }

    h3{
        @apply text-xl md:text-3xl lg:text-4xl font-bold mb-6;
    }

    .text {

        h2{
            @apply mt-24;
        }

        * + h3{
            @apply mt-12;
        }

        p, ul, table, ol {
            @apply mb-6;
        }

        ul{
            @apply list-disc list-inside;
            li{
                @apply mb-2;
            }
        }

    }

}
[v-cloak] {
    display: none;
}
