{### Extends #}
{% extends '_layouts/main.twig' %}

{### Permissions #}

{### Macros #}

{### Data logic #}

{### Blocks #}
{% block content %}

    <section class="container">
        <h1 class="text-white text-5xl md:text-6xl xl:text-8xl" >{{ entry.headline ?? entry.title }}</h1>
    </section>

    {% for block in entry.contentMatrix.eagerly().all()  %}
        {{ block.render() }}
    {% endfor %}
{% endblock %}
